# Example of reading past outputs

#### In addition to being able to view the actual output notebooks, the logging(record) from Papermill can be stored an explored via a Dataframe

In [4]:
import papermill as pm

In [5]:
nb = pm.read_notebook('example_output_notebook_2018-10-30')

In [6]:
nb.dataframe

              name value       type      filename
0                x    10  parameter  output.ipynb
1                y    30  parameter  output.ipynb
2  x value squared   100     record  output.ipynb
3  y value squared   900     record  output.ipynb